h1 {
	font-family: 'Playfair Display', serif;
}
h2 {
	font-family: 'Playfair Display', serif;

}

body {

    background-image: url("https://s-media-cache-ak0.pinimg.com/564x/b8/34/28/b834284c7d7f266ce3d4abf54e2a47ad.jpg");
    background-color: #cccccc;

}
